.app_header{
  background-color: white;
  border-bottom: 1px solid lightgrey;
  padding: 20px;
  object-fit: contain; /** keep the aspect ratio perfect all the time. Do not stretch.*/
}

.App{
  background-color: #fafafa;
}